<app-navbar></app-navbar>
<div class="table table-responsive">
	<app-admin-sidebar></app-admin-sidebar>
	  <div class="col d-flex justify-content-center">
			<table >
					<tr>
						<td>RCSid</td>
						<td><input #RCSid type="text" placeholder="RCSid"/></td>
					</tr>
					<tr>
						<td>New Password</td>
						<td><input #newPass type="text" placeholder="New Password"/></td>
					</tr>
					<tr>
						<td></td>
						<td><button class="btn btn-primary" (click)="resetPassword(RCSid.value, newPass.value)">Reset Password</button></td>
					</tr>
				</table>
	  </div>

  </div>