<div class="CenterPage">

    <table id="customers">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>RCS ID</th>
          <th>RIN</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td></td>
        </tr>
        <tr>
          <td>Berglunds snabbköp</td>
          <td>Christina Berglund</td>
          <td>Sweden</td>
          <td></td>
        </tr>
      </table>
      



</div>


<p>
  active-students works!
  <a routerLink="/login">log out</a>
  <a routerLink="/request-students">Student Requests</a>
</p>
