<!-- Navbar -->
<app-navbar></app-navbar>
<div class="main">
	<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
	<div class="w3-main" style="margin-left:250px">
		<!-- Sidebar -->
		<app-admin-sidebar></app-admin-sidebar>
		<div class="w3-row w3-padding-64">
			<h3>Active Students</h3>
			<div class="CenterPage">

				<table id="customers">
					<tr>
						<th>RCS ID</th>
						<th>Status</th>
						<th></th>
					</tr>
					<tr *ngFor="let student of Students">

						<td>{{student.RCSid}}</td>
						<td>{{student.Status}}</td>
						<td><button type="button" class="btn btn-danger" (click)="removeOne(student.RCSid)">remove</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
