<nav class="navbar navbar-expand-lg navbar-fixed-top">
	<div class="d-flex flex-grow-1">
		<span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
		<a class="navbar-brand" routerLink="/login">
			<img src="/assets/ADCLogoRed.png" alt="Logo" style="width:6rem;">
		</a>        
		<div class="w-100 text-right">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</div>
	<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
		<ul class="navbar-nav ml-auto flex-nowrap">
			<li class="nav-item" [hidden]="loggedIn">
				<a class="nav-link" onclick="document.getElementById('studentRequest').style.display='block'; return false" href='#'>Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/submit-complaint" routerLinkActive="active">Contact Us</a>
			</li>
			<li class="nav-item" [hidden]="loggedIn">
				<a class="nav-link" onclick="document.getElementById('loginForm').style.display='block'; return false" href='#'>Login</a>
			</li>
			<li class="nav-item" [hidden]="!loggedInAdmin">
				<a class="nav-link" routerLink="/active-students" routerLinkActive="active">Admin Panel</a>
			</li>
			<li class="nav-item" [hidden]="!loggedIn">
				<a class="nav-link" onclick="document.getElementById('passwordChange').style.display='block'; return false" href='#'>Change Password</a>
			</li>
			<li class="nav-item" [hidden]="!loggedIn">
				<a class="nav-link" placement="right" href="#" (click)="logout();">Logout</a>
			</li> 
		</ul>
	</div>
</nav>

<!-- LOGIN FORM -->
<div id="loginForm" class="modal" *ngIf="!loggedIn">
	<button onclick="document.getElementById('loginForm').style.display='none'" class="close" title="Close Modal">&times;</button>
	<!-- Modal Content -->
	<form class="modal-content animate">
		<h2> Student </h2>
		<div class="modal-body">
			<div>
				<input #Username type="text" placeholder="Enter RCS ID" aria-label="RCS ID" required>
			</div>
			<div>
				<input #Password type="password" placeholder="Enter Password" aria-label="Password" required>
			</div>
		</div>
		<div class="bad-request" id="badLogin">
			Incorrect username or password!
		</div>
		<div class="modal-footer" style="background-color:white">
			<button class="btn btn-primary" (click)="login(Username.value, Password.value)">Login</button>
		</div>
	</form>
</div>

<!-- Student Register LOGIN FORM -->
<div id="studentRequest" class="modal" *ngIf="!loggedIn">
	<button onclick="document.getElementById('studentRequest').style.display='none'" class="close" title="Close Modal">&times;</button>
	<!-- Modal Content -->
	<form class="modal-content animate">
		<h2> Register </h2>
		<div class="modal-body">
			<input #RequestUsername type="text" placeholder="Enter RCS id" name="uname" aria-label="Registration RCSId" required>
		</div>
		<div class="modal-footer" style="background-color:white">
			<button class="btn btn-primary" (click)="studentRegister(RequestUsername.value)">Submit Request</button>
		</div>
	</form>
</div>

<!-- PASSWORD CHANGE FORM -->
<div id="passwordChange" class="modal" *ngIf="loggedIn">
	<button onclick="document.getElementById('passwordChange').style.display='none'" class="close" title="Close Modal">&times;</button>
	<!-- Modal Content -->
	<form class="modal-content animate">
		<h2> Change Password </h2>
		<div class="modal-body">
			<div>
				<input #userChange type="text" placeholder="Enter Username" aria-label="Current Username" required>
			</div>
			<div>
				<input #oldPass type="password" placeholder="Enter Old Password" aria-label="Current Password" required>
			</div>
			<div>
				<input #newPass type="password" placeholder="Enter Password" aria-label="New Password" required>
			</div>
		</div>
		<div class="modal-footer" style="background-color:white">
			<button class="btn btn-primary" (click)="changePassword(userChange.value, oldPass.value, newPass.value)">Change Password</button>
		</div>
	</form>
</div>
