.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /* top: 43px; */
    padding-top: 5%;
    left: 0;
    background-color: midnightblue;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav h4 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    display: block;
}

.sidenav button {
    margin-bottom:16px;
}

.sidenav div {
    padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
    color: paleturquoise;
}
