/* embeded Mohave font */
@font-face {
    font-family: 'mohaveregular';
    src: url('mohave-regular-webfont.woff2') format('woff2'),
         url('mohave-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*header of the first textbox */
.container1{
    background:black;
    color: white;
    padding-right: 0;
}
 .display-4{     
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 5%;
    font-family: "mohaveregular", sans-serif;
    font-size: 50px;
}
/* the text under the header fo the first textbox */
.text1{
    padding-top: 5%;
    padding-left: 5%;
    font-family: -apple-system-short-body, BlinkMacSystemFont, sans-serif;
    font-size: 30px;
}
/* the 4 images on the page  */
.container2{
    padding-left: 0;
    padding-right: 0%;
}
/* the "About us" */
.head{
    padding-top: 10%;
    padding-bottom: 3%;
    font-family: "mohaveregular", sans-serif;
    color: black;
}
/* the text after "About us" */
.text2{
    color: black;
    padding-bottom: 3%; 
    font-family: -apple-system-short-body, BlinkMacSystemFont, sans-serif;    
 }
 .text3{
     color: black;    
     font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
     font-size: 20px;
 }
 /* the timeline part */
 .head2{
    padding-top: 10%;  
    font-family: "mohaveregular", sans-serif;
    color: black;
    padding-left: 5%;
    padding-bottom: 1%;
}
.text4{
    color: black;
    padding-top: 5%; 
    padding-left: 5%;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
}
/* the goals */
.head2-1{
    padding-top: 5%;  
    font-family: "mohaveregular", sans-serif;
    color: black;
    padding-left: 5%;
    padding-bottom: 3%;
}
/* the team image */
.c5Title{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
    font-family: "mohaveregular", sans-serif;
}
.card-img{
    padding-left: 0;    
}
.teamImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* override the default bootstrap */
.lead{
    background: transparent;
    color: white;
}
/* mobile version, needs more styling */
@media (max-width:860px){
    .container1{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}