.image1{
}

.container1{
    background:black;
    color: white;
    padding-right: 0;
}
.display-4{
    padding-top: 20%;
    padding-left: 5%;

}
.text1{
    padding-top: 5%;
}

.head2{
    padding-top: 5%;  

}
.head3{
    padding-top: 5%; 
    padding-left: 5%;
}
.text1{
    padding-top: 5%;
    padding-left: 5%;
}
.head4{
    padding-top: 5%;
    padding-left: 5%;
}
.container2{
    padding-left: 0;
   /* background-image: url("ADC2.jpg");
    text-align: right;
    color: black;*/
}
.container3{
     color: black;
     background: white;
}
/*.container4{
    background-image: url("ADC2.jpg");
         color: black;
     text-align: right;
}*/
.c5Title{
    text-align: center;
    color: black;
}
.teamImage{
}
/*.container5{
}*/
.lead{
    background: transparent;
    color: white;
}

.jumbotron{
  padding: 0;
  margin-bottom: 0;
  border-radius: 0;
  height: 100%;
}
.teamImage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
