<app-navbar></app-navbar>

<div class="row justify-content-md-center container1">
	<div class="col-sm">
		<h1 class="display-4">Automatic Door Control (ADC)</h1>
		<div class="text1">
			Aims to develop a mobile application and hardware to remotely open automatic doors on campus within a specific range, to improve on campus accessibility for disabled students.
		</div>
	</div>
	<div class="col-sm">
		<img class="card-img float-right " src="../assets/ADC01.jpg" alt="A student working on an early prototype">
	</div>
</div>

<div class="row row-eq-height">
	<div class="col-sm">
		<img class="card-img float-left " src="../assets/ADC2.jpg" alt="Mallory Gaspard">
	</div>
	<div class="col-sm">
		<h1 class="head">ABOUT US</h1>
		<h2 class="text2">The story behind ADC:</h2> 
		<p class="text3">
		Mallory has a disability that requires her to use an assistive device to get around,and she was very frustrated with the poor placement of the automatic door control buttons in public spaces. Being an applied mathematician, she tend to see things  in terms of models, and she noticed the poor button placement is dangerous for the user who has to back up while people are walking through.<br><br>
		She pitched ADC to RCOS and got a team together in Spring 2019.
		</p>
	</div>
</div>

<div class="row justify-content-md-center">
	<div class="col-sm">
		<h1 class="head2">TIMELINE</h1>
		<p class="text4">January 2018: ADC was founded by Mallory Gaspard in RPI<br><br>

		Fall 2018: ADC launched its first iOS prototype <br><br>

		February 2019:  Mallory was announced as a finalist for Red Hat’s Woman of the Year <br><br>

		Spring 2019: Class of 1958 award and RPI E-ship’s Change the World Challenge</p>
	</div>
	<div class="col-sm">
		<img class="card-img float-right" src="../assets/ADC3.jpg" alt="An early prototype attached to a door during a test run">
	</div>
</div>

<div class="row row-eq-height">
	<div class="col-sm">
		<img class="card-img float-left" src="../assets/ADC4.jpg" alt="A still from the ADC promotional video">
	</div>
	<div class="col-sm">
		<h1 class="head2-1">GOALS</h1>
		<div class="text3">
			<ul>
				<li>iOS version in app store</li>
				<li>Android version in app store</li>
				<li>Website</li>
			</ul>
		</div>
	</div>
</div>

<div class="row justify-content-md-center">
	<div class="col-md-auto">
		<h1 class="c5Title">TEAM</h1>
		<div class="row team" *ngFor="let teamRow of TeamRows">
			<div class="col" *ngFor="let member of teamRow">
				<img class="card-img" src="{{member.src}}" alt="{{member.name}}">
			</div>
		</div>
	</div>
</div>
