<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
      
      <a class="w3-bar-item w3-button w3-hide-small w3-hover-white" onclick="document.getElementById('id03').style.display='block'">Register</a>
      <a href="https://rcos.io/projects/automaticdoorcontrol/automaticdoorcontrol/profile" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
      <a (click)="this.router.navigate(['submit-complaint'])" class="w3-bar-item w3-button w3-hide-small w3-hover-white" >Contact us</a>
      <a class="w3-bar-item w3-button w3-hide-small w3-hover-white" onclick="document.getElementById('id01').style.display='block'">Admin</a>
    </div>
  </div>

<!-- Main Page Content-->
<div class="w3-row w3-padding-64">
  <h1> Automatic Door Control </h1>
  <h3> Welcome! </h3>
 
  <div>
      <button onclick="document.getElementById('id02').style.display='block'" class="button-css" >Login</button>
  </div>




  
</div> 
<!-- End of Main Page Content-->


<!-- ADMIN LOGIN FORM -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <h2> Administrator </h2>
    <div class="container">
      <div >
          
          <input #usernameA type="text" placeholder="Enter Username" name="uname" required>

      </div>
      <div>
          
          <input #passwordA type="password" placeholder="Enter Password" name="psw" required>

      </div>
    </div>

    <div class="container" style="background-color:#f1f1f1">

        <button type="submit" (click)="Adminlogin(usernameA.value,passwordA.value)">Login</button>
      
    </div>
  </form>
</div>


<!-- Student LOGIN FORM -->
<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <h2> Student </h2>
    <div class="container">
      <div >
          <input #studentl type="text" placeholder="enter rcs id" name="uname" required>
      </div>
      <div >
          <input #studentpass type="password" placeholder="Enter Password" name="upass" required>
      </div>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      
      <button type="submit"  (click)="Studentlogin(studentl.value, studentpass.value)">Login</button>
      
    </div>
  </form>
</div>

<!-- Student Register LOGIN FORM -->
<div id="id03" class="modal">
  <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!-- Modal Content -->
  <form class="modal-content animate" action="/action_page.php">
    <h2> Register </h2>
    <div class="container">
      <div >
          
          <input #studentR type="text" placeholder="Enter RCS id" name="uname" required>

      </div>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      
      <button type="submit" routerLink="/button" (click)="Studentregister(studentR.value)">Submit Request</button>
      
    </div>
  </form>
</div>
