.image1{
}

.container1{
    background:black;
    color: white;
    padding-right: 0;
}
.display-4{
    padding-top: 20%;
    padding-left: 5%;
    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;/*Apple font*/

}
.text1{
    padding-top: 5%;
    padding-left: 5%;
    font-family: -apple-system-short-body, BlinkMacSystemFont, sans-serif;
    font-size: 30px;
}

.head2{
    padding-top: 5%;  

    font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif;/*Apple font*/
    color: black;

}
.text2{
   color: black;
    font-family: -apple-system-short-body, BlinkMacSystemFont, sans-serif;
    
}
.text3{
   color: black;
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-size: 20px;

}
.text4{
    color: black;
    padding-top: 5%; 
    font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
    font-size: 20px;
}
.head3{
    padding-top: 5%; 
    padding-left: 5%;
}

.head4{
    padding-top: 5%;
    padding-left: 5%;
}
.container2{
    padding-left: 0;
   /* background-image: url("ADC2.jpg");
    text-align: right;
    color: black;*/
}


.c5Title{
    text-align: center;
    color: black;
}
.teamImage{
}
/*.container5{
}*/
.lead{
    background: transparent;
    color: white;
}

.jumbotron{
  padding: 0;
  margin-bottom: 0;
  border-radius: 0;
  height: 100%;
}
.teamImage{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
