<!-- Navbar -->
<app-navbar></app-navbar>
<div class="main">
	<div class="w3-main" style="margin-left:250px">
		<!-- Sidebar -->
		<app-admin-sidebar [buttons]="buttons" (clicker)="buttonClick($event)"></app-admin-sidebar>
		<!--<div class="sidenav">
			<h4>Menu</h4>
			<a href="/request-students">Student Requests</a>
			<a (click)="this.router.navigate(['active-students'])">Active students</a>
			<a (click)="this.router.navigate(['list-complaints'])">ADA Concern Areas</a>
			<div>
				<button (click)="addAll()"> Add all </button>
				<button (click)="downloadCSV()"> Download </button>
			</div>             
		</div>-->
		<!-- InformationTable  -->
		<div class="w3-row w3-padding-64">
			<h3>Student Requests</h3>
			<div class="CenterPage">

				<table id="customers">
					<tr>
						<th>RCS ID</th>
						<th>Status</th>
						<th></th>
					</tr>
					<tr *ngFor="let student of Students">
						<td>{{student.RCSid}}</td>
						<td>{{student.Status}}</td>
						<td><button (click)="addStudent(student.RCSid)">add</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
