<body>
   <h1 class="site-heading text-center d-none d-lg-block">ADC</h1><br/>
   <nav class="navbar navbar-expand fixed-top navbar-light" style="background-color:white ;" id="mainNav">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item" [hidden]="loggedIn">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" [hidden]="loggedIn">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" [hidden]="!loggedIn">
            <a class="nav-link" routerLink="/submit-complaint" routerLinkActive="active">Contact Us</a>
          </li>
          <li class="nav-item" [hidden]="!loggedIn">
            <a class="nav-link" placement="right" (click)="logoutUser()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet (activate)="changeOfRoutes()"></router-outlet>
</body>
