<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">

    <a (click)="logout()" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Logout</a>
    <a href="https://rcos.io/projects/automaticdoorcontrol/automaticdoorcontrol/profile" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
    <a href="/submit-complaint" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
  </div>
</div>

<div class="main">
  <div class="w3-main" style="margin-left:250px">
      <!-- Sidebar -->
         <div class="sidenav">
            <h4>Menu</h4>
            <a href="/request-students">Student Requests</a>
            <a href="/active-students">Active students</a>
            <a href="/list-complaints">ADA Concern Areas</a>
            <div>
               <button (click)="downloadCSV()"> Download </button>
            </div>             
            </div>
         <!-- Information Table  -->
         <div class="w3-row w3-padding-64">
            <h3>Problem Campus Location</h3>
             <div class="CenterPage">
   
             <table id="customers">
                 <tr>
                   <th>Location</th>
                   <th>Message</th>
                 </tr>
                 <tr *ngFor="let msg of Complaints">
                   <td>{{msg.location}}</td>
                   <td>{{msg.message}}</td>
                 </tr>
               </table>
               
         
         
             </div>
         </div>    
     </div>
   </div>
       
