button.open{
    background-color: white;
    color: black;
    font-size: 48px;
    border-radius: 12px;
}
button.logout{
    background-color: navy;
    color: white;
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 12px;    
}
.buttonHolder{ 
    text-align: center; 
}