/* You can add global styles to this file, and also import other style files */
.nav-item{
  justify-content: center;
}


#Footer {
  position:absolute;
  bottom:1rem;
  width:100%;
  text-align: center;    
 }
p{
	color: black;
	background-color: white;
}