
/* You can add global styles to this file, and also import other style files */
@import "bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/css/bootstrap.css";

/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
	padding: 1rem;
	font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
}
.nav-item{
  justify-content: center;
  font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
}
.text-title,.text{
	background-color: black;
	color: white;
	font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;	
}
.team{
	float: center;
	font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
}

p{
	color: black;
	background-color: white;
	font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
}
img{
	float: right;
}
.page-footer{	
	padding-top: 20%;
 	bottom: 0;
	width: 100%;
	font-family: -apple-system-caption1, BlinkMacSystemFont, sans-serif;
}