/* You can add global styles to this file, and also import other style files */
body{
	padding: 1rem;
}
.nav-item{
  justify-content: center;
}

.text-title,.text{
	background-color: black;
	color: white;
	
}
.team{
	float: center;

}
#Footer {
  /*fix the footer*/
/*  position: absolute;
  bottom: 0;*/
  height: [footer-height];  
  width:100%;
  text-align: center;   
 }
p{
	color: black;
	background-color: white;
}
img{
	float: right;

}